<div class="draggable" id="@_id"
     @onmousedown="HandleMouseDown"
     @onmouseup="HandleMouseUp">
  @ChildContent
</div>

<style>
       
      @($"#{_id}.draggable") {
      z-index: @(_mousedown ? 100 : 1);
      margin: 50px;
      position: relative;
        top: @_position.PositionFor('y')px;
        left: @_position.PositionFor('x')px;
      }
</style>